.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position:fixed;
    background: white;
    width: 300px;
    height: auto;
    padding: 20px;
    border-radius: 7px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }
  @media screen and (max-width:668px) {
    .modal-main {
      width: 80%;
      left: 49%;
    }
    .btn{
      width: 100%
    }
  }